@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background: rgb(46, 109, 180);
    background: linear-gradient(151deg, rgb(46, 109, 180) 20%, rgb(0, 172, 159) 50%, rgb(223, 13, 36) 85%) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.3);

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

header > img {
    max-width: 80px;
}

nav > a {
    text-decoration: none;
    color: rgb(24, 22, 22);
    font-weight: bold;
    margin-right: 35px;
}

nav > a:hover {
    color: rgb(223, 13, 36);
}

section {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    margin-left: 40px;
}

article > h1 {
    font-size: 3.9em;
}

article > h2 {
    font-size: 2em;
    font-weight: 200;
    color: #707070;
    margin: 10px 0;
}

article > p {
    color: #707070;
    font-weight: 100;
    font-size: 1.1em;
    text-indent: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
}

article > h3 {
    font-size: 1.5em;
    margin-bottom: 45px;
}

article > button {
    border: none;
    background-color: rgb(223, 13, 36);
    padding: 10px 30px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
}

article > button:hover {
    cursor: pointer;
}

aside > img {
    width: 90%;
}

aside > button {
    border: none;
    background-color: transparent;
}

button > img {
    width: 90%;
}